llvmlite
matplotlib
numba
numpy
scikit-learn
scipy
sklearn
timm
wget
zipp
tensorboardx
tqdm
decord
clip-by-openai
opencv-python
pytube
transformers
pandas
pytorch-ignite
librosa
termcolor
visdom
tensorboard